

@import "tailwindcss";



@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-gray-800;
  }
}

@layer utilities {
  .container {
    max-width: 80rem; /* 1280px */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem;
  }
}


.bg-islamic-texture {
  background:
    radial-gradient(circle at top left, rgba(34,197,94,0.35), transparent 40%),
    radial-gradient(circle at bottom right, rgba(16,185,129,0.35), transparent 40%),
    linear-gradient(135deg, #064e3b, #065f46);
}